.login__textinput{
    display: flex;
    flex-direction: column;
    margin-top:50px;
    width:300px;
}

.login{
    display: grid;
    justify-content: center;
}

.login__text{
    margin-bottom: 30px !important;
}
