.header{
    background-color: #DDDEE7;
} 

.header__innerContainer > img {
    height:70px;
    cursor: pointer;
}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__innerContainer{
    display: flex;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding:15px;
    justify-content: space-between;
    align-items: center;
}

.header__menuItem{
    margin-left:20px;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    cursor: pointer;
}

.header__registerButton{
    border:2px solid #B8B9C4;
    border-radius: 20px;
    padding-left:20px;
    padding-right:20px;
    padding-top:5px;
    padding-bottom:5px;
}

